<h1>Lista de Clientes Cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Data de Nascimento</th>
      <th>Email</th>
      <th>Endereco</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.Nome %></td>
        <td><%= cliente.CPF %></td>
        <td><%= cliente.DataNascimento %></td>
        <td><%= cliente.Email %></td>
        <td><%= cliente.Endereco %></td>
        <td><%= cliente.Telefone %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Deletar', cliente, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="link">
<%= link_to 'Novo Cliente', new_cliente_path %>
</div>